
  @import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Playpen+Sans:wght@100;200;400;500;600&family=Poppins:wght@100;200;300;400;600;700;800;900&family=Roboto&display=swap');



:root{
    --bg-light:#fff;
    --primary-color:#FF5331;
    --text--dark:#191720;
    --text-gray:#32303b;
    --text-light-gray:#848385;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body{
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-light);
    overflow-x: hidden;
}

header{
    padding: .8rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: .4s;
}
header.active{
   background-color: #F6F6F6;
}

.navBer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBer .logo img{
    width: 4rem;
}

.navBer ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navBer ul li a{
    font-size: 1.6rem;
    color: var(--text--dark);
    padding: 1rem 1.8rem;
    border-radius: .4rem;
    transition: .2s;
}
.navBer ul li a:hover{
    background-color: var(--primary-color);
}

.navBer .button button{
    margin-left:1rem;
    font-size: 1.8rem;
    color: var(--text--dark);
    padding: 1rem 1.6rem;
    border-radius: 4rem;
    transition: .2s;
}
.navBer .button button:nth-child(1):hover{
    background-color: var(--primary-color);
}
.navBer .button button:nth-child(2){
    background-color: var(--primary-color);
}
.navBer .button button:nth-child(2):hover{
    background-color: var(--bg-light);
}

.menu{
    display: none;
    font-size: 2.4rem;
    margin-left: 2rem;
}
/* hero */
.hero{
    width: 100%;
    margin: 12rem 0;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.hero-container .left {
    max-width: 50%;

}
.hero-container .left h1{
    font-size: 3.6rem;
    color: var(--text--dark);
    margin-bottom: 1rem;

}
.hero-container .left p{
    font-size: 1.6rem;
    color: var(--text-gray);
    margin-bottom: 1.8rem;

}
.hero-container .left .order-input{
    width: 90%;
    height: 4.8rem;
    background-color: #F6F6F6;
    border-radius: 4rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: center;

}
.hero-container .left input{
    width: 100%;
    padding: 1rem 6rem 1rem 2rem;
    font-size: 1rem;

}
.hero-container .left button{
    position: absolute;
    right: 1rem;
    top: .5rem;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    border-radius: 4rem;
    padding: 1rem 1.6rem;
    transition: .2s;

}
.hero-container .left button:hover{
    background-color: var(--bg-light);
}

.hero-container .left .company-logo{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.hero-container .left .company-logo img{
    max-width: 12rem;
    
}


/* .hero-container .right{
    
} */
.hero-container .right img{
   width: 100%;
}
/* dishes */

.dishes{
    margin-bottom: 12rem;
}
.common-header{
    max-width: 40rem;
    margin-inline: auto;
}
.common-header h1{
    text-align: center;
    font-size: 2.6rem;
    color: var(--text--dark);
    margin-bottom: 1rem;
}
.common-header h1 span{
    color: var(--primary-color);
}
.common-header p{
    text-align: center;
    font-size: 1.4rem;
    color: var(--text--dark);
}

.dishes .top{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-top: 6rem;
}

.dishes .top .card{
    border-radius: 2rem;
    padding: 3rem 4rem;
    min-height: 20rem;
    background-color:#F6F6F6;
}
.dishes .top .card h2{
   text-align: center;
   margin-top: 2rem;
   font-size: 2.2rem;
}
.dishes .top .card-img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dishes .top .max-card{
    padding: 2rem;
    min-width: 45rem;
    min-height: 20rem;
    position: relative;
}
.dishes .top .max-card h2{
    max-width: 30rem;
    text-align: left;
    font-size: 2rem;margin-top: 1rem;
}
.dishes .top .max-card h2 .orange{
   color: var(--primary-color);
}
.dishes .top .max-card h2 .green{
   color: green;
}
.dishes .top .max-card img{
   position: absolute;
   bottom: 0;
   right: 0;
}
.dishes .top .bottom-max-card div i{
font-size: 6rem;

}

.dishes .bottom{
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 1rem;
    margin-top: 6rem;
}


.dishes .bottom{
    justify-content: left;
    
}

.bottom .max-card p{
    margin-top: auto;
    max-width: 40rem;
    font-size: 1.8rem;
}
.bottom .bottom-max-card{
    display: flex;
    /* align-items: end; */
    justify-content: end;
    
}
/* order  */
.order{
    margin-bottom: 12rem;
}
.order .order-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 4rem;
    column-gap: 1rem;
    margin-top: 6rem;
}

.order .order-container .card{
    border-radius: 2rem;
    padding: 3rem;
    min-height: 20rem;
    background-color:#F6F6F6;
    position: relative;
}
.order .order-container .card h2{
   text-align: center;
   margin-top: 2rem;
   font-size: 1.6rem;
   max-width: 12rem;
}
.order .order-container .card span{
   position: absolute;
   top: -2.2rem;
   left: -1rem;
   z-index: -1;
   font-size: 3.6rem;
   font-weight: bold;
   color: var(--primary-color);
}
.order .order-container .card-img{
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* client */
.client{
    margin-bottom: 12rem;
}
.client .client-container{
    max-width: 60rem;
}
.client .client-container h1{
    font-size: 3.6rem;
    color: var(--text--dark);
}
.client .client-container p{
    font-size: 1.6rem;
    color: var(--text-gray);
}
.client .client-container .inverted-comma{
    text-align: center;
    display: block;
    font-size: 4.8rem;
    color: var(--primary-color);
    margin: 6rem 0;
}
.client .client-container .italic{
    text-align: center;
    display: block;
    font-size: 2.8rem;
    color: var(--text--dark);
    margin-bottom: 2rem;
}
.client .client-container h3{
    text-align: center;
    display: block;
    font-size: 2.2rem;
    color: var(--text--dark);
    margin-top: 4rem;
}
.client .client-container div{
    margin-top: 8rem;
    text-align: center;
    display: block;
}
.client .client-container div i{
    font-size: 4.2rem;
    margin-right: 2rem;
}

/* Subscribe */

.subscribe{
    background-color: #FFEFEC;

}

.subscribe .subscribe-container{
    min-height: 20rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.subscription-content h1{
    font-size: 3.6rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.subscription-content p{
    font-size: 1.6rem;
}

.subscribe-container .order-input{
    width: 50rem;
    height: 4.8rem;
    background-color: #F6F6F6;
    border-radius: 4rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 6rem;

}
.subscribe-container input{
    width: 100%;
    padding: 1rem 6rem 1rem 2rem;
    font-size: 1.6rem;

}
.subscribe-container button{
    position: absolute;
    right: 1rem;
    top: .5rem;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    border-radius: 4rem;
    padding: 1rem 1.6rem;
    transition: .2s;

}
.subscribe-container button:hover{
    background-color: var(--bg-light);
}
/* footer  */

footer{
    background: #000;
    padding: 8rem 0;
}
footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21rem,auto));
    justify-content: space-between;
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
}
.footer-container .footer-img .company-logo{
    margin-top: 8rem;
        display: flex;
}
.footer-container .footer-img .company-logo img{
    width: 10rem;
    margin-right: 1rem;
}


footer .footer-container ul{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
footer .footer-container ul h4{
    font-size: 1.8rem;
    color: var(--bg-light);
}
footer .footer-container ul a{
    font-size: 1.6rem;
    padding: .5rem 0;
    color: var(--text-light-gray);
    transition: .3s;
}
footer .footer-container ul a:hover{
    color: var(--bg-light);
    transform: translate(1rem);
}

footer .f-bottom{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .f-bottom small{
    font-size: 1.4rem;
    color: var(--text-light-gray);
}
footer .f-bottom ul{
    /* color: var(--text-light-gray); */
    
}
footer .f-bottom ul a{
    font-size: 1.4rem;
    margin-left: 1rem;
    color: var(--text-light-gray);
}
footer .f-bottom ul a:hover{
    color: var(--bg-light);
}











@media (max-width:1200px) {
    .container{
        max-width: 80%;
    }
    .dishes .top .card{
        padding: 2rem;
        min-height: 18rem;
    }
    .dishes .top .max-card{
        padding: 1rem;
        min-width: 25rem;
        min-height: 18rem;
    }
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
   
}
@media (max-width:767px) {
    html{
        font-size: 52.5%;
    }
    .container{
        max-width: 90%;
    }
    .navBer ul{
        border-radius: 0 0 2rem 2rem;
        padding: 4rem;
        position: absolute;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #F6F6F6;
        transition: .6s ease-out;
    }
    .navBer ul.active{
        right: 0%;

    }
    .navBer .heder-nav li a{
        font-size: 2rem;

    }
    
    .menu{
        display: inline-block;
       
    }
    .hero-container{
        flex-direction: column;
    }
    .hero-container .left {
        max-width: 100%;
    
    }
    .dishes .top{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .order .order-container{
        justify-content: center;
    }
    .subscribe .subscribe-container{
        flex-direction: column;
        padding: 4rem 0;
        gap: 4rem;
        text-align: center;
    }
    .subscribe-container .order-input{
        width: 40rem;
    
    }  
    
}
@media (max-width:480px) {
    html{
        font-size: 50%;
    }
    .hero-container .left .order-input{
        width: 100%;
    }
    .subscribe-container .order-input{
        width: 30rem;
    
    }
    .subscribe-container input{
        font-size: 1.2rem;
    
    }
}